[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"
python_full_version = "3.7.0"

[scripts]
format = "black --line-length 88 --verbose"
lint = "flake8 --max-line-length=88 --statistics -vv --count"
start = "gunicorn -w 4 -b 127.0.0.1:5000 server.wsiwn:app --log-level debug --access-logfile - --log-file - --reload"
prod = "gunicorn -w 4 server.wsiwn:app --log-level warning --log-file -"

[packages]
Flask = "*"
pyswip = "*"
gunicorn = "*"
requests = "*"
beautifulsoup4 = "*"
dj-database-url = "*"
"psycopg2-binary" = "*"
whitenoise = "*"
brotli = "*"

[dev-packages]
black = "*"
"flake8" = "*"
rope = "*"
pytest = "*"
