[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_full_version = "3.7.2"

[scripts]
format = "black . --verbose"
lint = "flake8 --statistics --count"
start = "gunicorn -w 3 -b 127.0.0.1:5000 server.run:app --log-level debug --access-logfile - --log-file - --reload"
prod = "gunicorn -w 3 server.run:app --log-level warning --log-file -"
dev = "flask run"

[packages]
beautifulsoup4 = "*"
brotli = "*"
Flask = "*"
gunicorn = "*"
pyswip = "*"
requests = "*"

[dev-packages]
"flake8" = "*"
black = "*"
rope = "*"
pytest = "*"
pre-commit = "*"
